<template>
<div class="page">
  <div class="navbar">
    <div class="navbar-bg"></div>
    <div class="navbar-inner sliding">
      <div class="left">
        <a href="#" class="link back">
          <i class="icon icon-back"></i>
          <span class="if-not-md">Back</span>
        </a>
      </div>
      <div class="title">Not found</div>
    </div>
  </div>
  <div class="page-content">
    <div class="block block-strong">
      <h1>Sorry</h1>
      <p>Requested content not found.</p>
    </div>
  </div>
</div>
</template>
<script>
export default () => {
  return $render;
};
</script>
