<template>
  <div class="page" data-name="attendees">
    <div class="navbar">
      <div class="navbar-bg"></div>
      <div class="navbar-inner sliding">
        <div class="title">Attendees</div>
      </div>
    </div>
    <div class="page-content">
      <div class="list links-list">
        <ul>
          ${products.value.map((product) => $h`
            <li><a href="/product/${product.id}/">${product.title}</a></li>
          `)}
        </ul>
      </div>
      ${products.value.length === 3 && $h`
        <div class="block">
          <button class="button button-fill" @click=${addProduct}>Add Product</Button>
        </div>
      `}
    </div>
  </div>
</template>
<script>
  export default (props, { $store }) => {
    const products = $store.getters.products;

    const addProduct = () => {
      $store.dispatch('addProduct', {
        id: '4',
        title: 'Apple iPhone 12',
        description: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi tempora similique reiciendis, error nesciunt vero, blanditiis pariatur dolor, minima sed sapiente rerum, dolorem corrupti hic modi praesentium unde saepe perspiciatis.'
      });
    }

    return $render;
  }

</script>
