<template>
  <div class="page" data-name="home">
    <!-- Top Navbar -->
    <div class="navbar navbar-large">
      <div class="navbar-bg"></div>
      <div class="navbar-inner">
        <div class="left">
          <a href="#" class="link icon-only panel-open" data-panel="left">
            <i class="icon f7-icons if-not-md">menu</i>
            <i class="icon material-icons if-md">menu</i>
          </a>
        </div>
        <div class="title sliding">Kahve Youth</div>
        <!--
        <div class="right">
          <a href="#" class="link icon-only panel-open" data-panel="right">
            <i class="icon f7-icons if-not-md">menu</i>
            <i class="icon material-icons if-md">menu</i>
          </a>
        </div>
        -->
        <div class="title-large">
          <div class="title-large-text">Kahve Youth</div>
        </div>
      </div>
    </div>

    <!-- Scrollable page content-->
    <div class="page-content">
      <div class="card">
        <div class="card-content card-content-padding">
          <p>This is an example of tabs-layout application. The main point of such tabbed layout is that each tab contains independent view with its own routing and navigation.</p>

          <p>Each tab/view may have different layout, different navbar type (dynamic, fixed or static) or without navbar like this tab.</p>
        </div>
      </div>
      <div class="block-title">Navigation</div>
      <div class="card">
        <div class="card-content card-content-padding">
          <div class="list">
            <ul>
              <li>
                <a href="/about/" class="item-content item-link">
                  <div class="item-inner">
                    <div class="item-title">About</div>
                  </div>
                </a>
              </li>
              <li>
                <a href="/form/" class="item-content item-link">
                  <div class="item-inner">
                    <div class="item-title">Form</div>
                  </div>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="block-title">Modals</div>
      <div class="card">
        <div class="card-content card-content-padding">
          <div class="row">
            <div class="col-50">
              <a href="#" class="button button-raised button-fill popup-open" data-popup="#my-popup">Popup</a>
            </div>
            <div class="col-50">
              <a href="#" class="button button-raised button-fill login-screen-open" data-login-screen="#my-login-screen">Login Screen</a>
            </div>
          </div>
        </div>
      </div>

      <div class="block-title">Panels</div>
      <div class="card">
        <div class="card-content card-content-padding">
          <div class="row">
            <div class="col-50">
              <a href="#" class="button button-raised button-fill panel-open" data-panel="left">Left Panel</a>
            </div>
            <div class="col-50" id="getCalenderEventsButton">
              <a class="col button button-large button-fill button-raised color-green">Large Green</a>
            </div>
          </div>
        </div>
      </div>

      <div class="list links-list">
        <ul>
          <li>
            <a href="/dynamic-route/blog/45/post/125/?foo=bar#about">Dynamic (Component) Route</a>
          </li>
          <li>
            <a href="/load-something-that-doesnt-exist/">Default Route (404)</a>
          </li>
          <li>
            <a href="/request-and-load/user/123456/">Request Data & Load</a>
          </li>
        </ul>
      </div>
    </div>
    <script type="text/javascript">
      document.getElementById("getCalenderEventsButton").onclick = getCalendarEvents;

      function getCalendarEvents() {
        return gapi.client.calendar.events.list({
          "calendarId": "mmflgllrcmsi8u2hkprn23h9no@group.calendar.google.com",
          "alwaysIncludeEmail": false
        }).then(function(response) {
              // Handle the results here (response.result has the parsed body).
              console.log("Response", response);
              //console.log(response.item[0]);
              if (response.items === undefined) { // cannot put response.items[0]
                console.log("No events planed!");
              } else {
                /* make a card for each event; I think I need to move these functions
                to the actual pages and just l;eave init one here */
              }
            },
          /* what is happening here I think is that if the return fails, it will go to this line,
          but if it succeeds, this line will not even be run */
          function(err) { console.error("Execute error", err);
        });
      }
    </script>
    <!--<script async defer src="https://apis.google.com/js/api.js"
    onload="this.onload=function(){};gapi.load('client', start)"
    onreadystatechange="if (this.readyState === 'complete') this.onload()">
    </script> -->
    <!--THIS IS THE OUTERMOST PLACE WHERE I CAN PUT STUFF LIKE THE JS THING ABOVE-->
  </div>
</template>

<script>
export default () => {
  return $render;
}
</script>
