<!DOCTYPE html>
<html>
<head>

  <script>
  function start() {
    // Initializes the client with the API key and the Translate API.
    gapi.client.init({
      'apiKey': "AIzaSyBEeftO5ODxX0nrn4nBWGdeH0lcX9d1wlY",
      'discoveryDocs': ['https://sheets.googleapis.com/$discovery/rest?version=v4', 'https://content.googleapis.com/discovery/v1/apis/calendar/v3/rest']
    }).then(function() {
      return gapi.client.sheets.spreadsheets.values.get({
          spreadsheetId: '1dj9W0xapTFjBKOdeAVEkcOX7_PI0lT1EYrvteK8QY68',
          range: 'Sheet1!A1:B'
        });
    }).then(function(response) {
      var range = response.result;
          if (range.values.length > 0) {
            console.log('Name, Major:');
            for (i = 0; i < range.values.length; i++) {
              var row = range.values[i];
              // Print columns A and B, which correspond to indices 0 and 1.
              console.log(row[0] + ', ' + row[1]);
            }
          } else {
            console.log('No data found.');
          }

    }, function(reason) {
      console.log('Error: ' + reason.result.error.message);
    });
  };
  </script>
  <script async defer src="https://apis.google.com/js/api.js"
  onload="this.onload=function(){};gapi.load('client', start)"
  onreadystatechange="if (this.readyState === 'complete') this.onload()">
  </script>

  <meta charset="utf-8">
  <!--
  Customize this policy to fit your own app's needs. For more guidance, see:
      https://github.com/apache/cordova-plugin-whitelist/blob/master/README.md#content-security-policy
  Some notes:
    * https://ssl.gstatic.com is required only on Android and is needed for TalkBack to function properly
    * Disables use of inline scripts in order to mitigate risk of XSS vulnerabilities. To change this:
      * Enable inline JS: add 'unsafe-inline' to default-src
  -->
  <meta http-equiv="Content-Security-Policy" content="default-src * 'self' 'unsafe-inline' 'unsafe-eval' data: gap: content:">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, viewport-fit=cover">

  <meta name="theme-color" content="#c9b299">
  <meta name="format-detection" content="telephone=no">
  <meta name="msapplication-tap-highlight" content="no">
  <title>Kahve Youth</title>




  <!-- built styles file will be auto injected -->
</head>
<body>
  <div id="app"class="theme-dark"></div>
  <% if (process.env.TARGET === 'cordova') { %>
  <script src="cordova.js"></script>
  <% } %>
  <!-- built script files will be auto injected -->
</body>
</html>
